repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: mixed-line-ending
  - id: double-quote-string-fixer

- repo: https://github.com/doublify/pre-commit-rust
  rev: v1.0
  hooks:
    - id: cargo-check
      args: ["--all-targets", "--all-features"]
    - id: fmt

- repo: https://github.com/commitizen-tools/commitizen
  rev: v4.8.3
  hooks:
    - id: commitizen
      additional_dependencies: [cz-conventional-gitmoji]

- repo: https://github.com/ljnsn/cz-conventional-gitmoji
  rev: v0.7.0
  hooks:
    - id: conventional-gitmoji
